/*
/*
  I N N O V A T I V E
  D E S I G N -- 2013
  -------------------
  styles for "Making Berkeley Beautiful"
*/
/* Defines InnoD colors */
html,
body,
article {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

h1,
p {
  color: #fff;
  font-family: "museo sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 48px;
  line-height: 58px; }

p {
  font-size: 18px;
  line-height: 26px; }

nav {
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 100; }
  nav.hidden {
    visibility: hidden; }
  nav li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #f9f9f9;
    margin-bottom: 10px; }
    nav li:hover {
      cursor: pointer;
      opacity: 0.8; }
    nav li.active, nav li:hover {
      width: 16px;
      height: 16px;
      border: #f9f9f9 solid 2px; }
    nav li a {
      display: block;
      width: 100%;
      height: 100%; }

nav li:hover a[title]:after {
  content: attr(title);
  text-align: right;
  text-transform: uppercase;
  right: 62px;
  letter-spacing: 0.15em;
  top: 0;
  font: 300 13px "museo sans", "Helvetica", "Arial", sans-serif;
  position: relative;
  text-decoration: none;
  color: white; }
nav li.intro {
  background: #252930; }
  nav li.intro:hover a[title]:after {
    right: 58px; }
nav li.about {
  background: #0093bf; }
nav li.branding {
  background: #c93354; }
  nav li.branding:hover a[title]:after {
    right: 86px; }
nav li.case-study {
  background: #e8b03b; }
  nav li.case-study:hover a[title]:after {
    right: 98px;
    white-space: nowrap; }

article {
  position: relative; }

#intro {
  background: #f4f4f4;
  text-align: center; }
  #intro .logo-blue {
    width: 150px; }

#about {
  background: #0093bf; }

#branding {
  background: #c93354; }

#case-study {
  background: #e8b03b; }

.logo-block {
  margin: 0 auto;
  padding-top: 300px;
  width: 150px;
  height: 242px; }

.logo-type {
  margin-top: 20px; }
  .logo-type h3 {
    color: #0093bf;
    font: 18px "museo sans", "Helvetica", "Arial", sans-serif; }
    .logo-type h3.innovative {
      letter-spacing: 0.41em;
      font-weight: 500; }
    .logo-type h3.department {
      letter-spacing: 0.355em;
      font-weight: 300; }
  .logo-type .crescent-blue img {
    width: 13px;
    margin-right: 0.38em; }

.next-arrow-contain {
  margin-top: 25px; }

.next-arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #0093bf;
  margin: 0 auto; }
  .next-arrow:hover {
    cursor: pointer;
    opacity: 0.7; }

.next-slide-arrow {
  position: absolute;
  width: 85px;
  height: 80px;
  bottom: 0;
  right: 35px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2; }
  .next-slide-arrow a {
    display: block;
    width: 100%;
    height: 100%; }
  .next-slide-arrow:hover {
    background: rgba(255, 255, 255, 0.25); }
  .next-slide-arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(255, 255, 255, 0.8);
    right: 27px;
    top: 38px;
    z-index: -1; }

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  margin-right: 120px; }
