/*
/*
  I N N O V A T I V E
  D E S I G N -- 2013
  -------------------
  styles for "Making Berkeley Beautiful"
*/

/* Defines InnoD colors */
$gold: rgba(232, 176, 59, 1);
$blue: rgba(0, 147, 191, 1);
$red: rgba(201, 51, 84, 1);
$gray: rgba(37, 41, 48, 1);

html,
body,
article {
  width: 100%;
  height: 100%;
}

h1,
p {
  color: #fff;
  font-family: "museo sans", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 15px;
}

// Styles for navigation
nav {
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 100;
  &.hidden {
    visibility: hidden;
  }
  li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #f9f9f9;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &.active,
    &:hover {
      width: 16px;
      height: 16px;
      border: #f9f9f9 solid 2px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

nav li {
  &.intro {
    background: $gray;
  }
  &.about {
    background: $blue;
  }
  &.branding {
    background: $red;
  }
  &.case-study {
    background: $gold;
  }
}

article {
  position: relative;
}

#intro {
  background: #f4f4f4;
  text-align: center;
  .logo-blue {
    width: 150px;
  }
}

#about {
  background: $blue;
}

#branding {
  background: $red;
}

#case-study {
  background: $gold;
}

.logo-block {
  margin: 0 auto;
  padding-top: 300px;
  width: 150px;
  height: 242px;
}

.logo-type {
  margin-top: 20px;
  h3 {
    color: $blue;
    font: 18px "museo sans", "Helvetica", "Arial", sans-serif;
    &.innovative {
      letter-spacing: 0.41em;
      font-weight: 500;
    }
    &.department {
      letter-spacing: 0.355em;
      font-weight: 300;
    }
  }
  .crescent-blue img {
    width: 13px;
    margin-right: 0.38em;
  }
}

.next-arrow-contain {
  margin-top: 25px;
}

.next-arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid $blue;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.next-slide-arrow {
  position: absolute;
  width: 85px;
  height: 80px;
  bottom: 0;
  right: 35px;
  background: rgba(255, 255, 255, 0.3);
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  margin-right: 120px;
}